@model ITRepairDeskWebApp.Models.JobAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>JobAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Job.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Technician.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Technician.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.JobAssignmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
